fastapi
uvicorn[standard]
pydantic[email]
pydantic-settings
sqlalchemy
asyncpg
python-multipart
python-jose[cryptography]
passlib[bcrypt]
structlog
alembic
httpx
opencv-python-headless
pymupdf
python-magic-bin; sys_platform == 'win32'
python-magic; sys_platform != 'win32'
pandas
numpy
supabase
pytesseract
openai-whisper

